
.input {
	text-align: center;
	display: flex;
	padding: 12px 10px;
	border-radius: 38px;
	margin-bottom: 15px;
	background: #FFE9DA;
	background: #101010;
	border: 1px solid #FFE9DA;
	font-size: 15px;
  font-weight: 600;
}