.input {
	width: 200px;
	text-align: center;
	display: flex;
	padding: 15px 10px;
	border-radius: 100px;
	margin-bottom: 6%;
	color:  #ADA2A2;
	background: #514D4DBF 	75%;
	border: 3px solid #DCCBCB80;
	font-size: 15px;
  font-weight: 600;
}