.btn {
  padding: 12px 90px;
  border-radius: 38px;
  color: #101010;
  background: #FFFFFF;
  border: 1px solid #dccbcb80;
  font-size: 17px;
  font-weight: 600;
  text-align: center;  
  cursor: pointer;
}
.btn:hover {
  transition: 0.4s all ease-out;
  background: #dbd5d5 75%;
  cursor: pointer;
}
