.buttonToReg {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 10px;
  border-radius: 100px;
  margin-bottom: 6%;
  color: #fff;
  background: #514d4dbf 75%;
  
  border: 2px solid #dccbcb80;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  cursor: pointer;
  width: 200px;
}

.buttonToReg:hover {
	transition: 0.4s all ease-out;
  background: #918888bf 80%;
  cursor: pointer;
}
