.buttonToReg {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 10px;
  border-radius: 100px;
  color: #101010;
  background: #ffffff;

  border: 1px solid #dccbcb80;
  font-size: 17px;
  font-weight: 550;
  text-align: center;
  cursor: pointer;
  width: 200px;
}
.buttonToReg:hover {
  transition: 0.4s all ease-out;
  background: #dbd5d5 75%;
  cursor: pointer;
  animation: backwards;
  animation-play-state: paused;
  animation-name: "checkout";
  animation-duration: 15s;
  animation-timing-function: cubic-bezier(0, 0.1, 0.2, 1);
}
