.main {
    display: flex;
    width: 100%;
    height: 100%;
}

.main__bookInfo {
    display: flex;
    width: 100%;
    padding: 0 80px;
    margin-top: 50px;

    gap: 60px;
}

.main__bookInfo * {
    color: white;
}

.main__bookInfo-cover > img {
    width: 340px;
    height: 450px;
}

.main__bookInfo-author > span {
    font-weight: 600;
    font-size: 45px;
    color: black;
}

.main__bookInfo-title {
    margin-top: 14px;
}

.main__bookInfo-title > span {
    font-weight: 600;
    font-size: 35px;
    color: #6F4C3E;
}

.main__bookInfo-read {
    width: 179px;
    height: 62px;
    margin-top: 24px;
}

.main__bookInfo-read > button {
    width: 100%;
    height: 100%;
    color: white;
    background-color: #6F4C3E;
    border: 0;
    border-radius: 48px;
    font-weight: 500;
    font-size: 25px;
    cursor: pointer;
    transition: scale 1s;
}

.main__bookInfo-read > button:hover{
    scale: 1.1;
}

.main__bookInfo-desc {
    display: flex;
    flex-direction: column;
    margin-top: 28px;
    width: 645px;
    box-sizing: border-box;
}

.main__bookInfo-desc > span {
    color: #6F4C3E;
    font-size: 25px;
}
