.containerSignIn {
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  padding-top: 200px;
}

.h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 33px;
  line-height: 41.5px;
  margin-bottom: 6%;
}
.h2 {
  text-align: center;
  justify-content: center;
  font-size: 15px;
  line-height: 18.8px;
   margin-bottom: 6%;
}
