.containerSignUp {
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  padding-top: 180px;
}
.h1 {
  text-align: center;
  padding-bottom: 8%;
  font-size: 33px;
  line-height: 41.5px;
}
.h2 {
  text-align: center;
  padding-bottom: 4%;
  font-size: 15px;
  line-height: 18.8px;
  justify-content: center;
  width: 100%;
}
.backToAuth {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}
