.background-image {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("../../assets/img/SignInUp/Fon.png");
  background-color: #191818;
}
.containerSignUp {
  max-width: 475px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #101010;
  border-radius: 38px;
  padding-left: 82px;
  padding-right: 82px;
  padding-bottom: 32px;
  padding-top: 32px;
  box-shadow: 1px 1px 5px 0px #101010;

}
.h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 600;
  line-height: 41.5px;
  margin-bottom: 16px;
}
.h2 {
  text-align: center;
  justify-content: center;
  font-size: 17px;
  font-weight: 600;
  line-height: 18.8px;
   margin-bottom: 6%;
}
.backToAuth {
  margin-top: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}
