.header {
  display: flex;

  width: 100%;
  height: 80px;
  background-color: #FFEBDE;

  border-bottom: 2px #6F4C3E solid;

  justify-content: space-between;
  padding: 0 50px;
  box-sizing: border-box;

  align-items: center;
}

.header__logo {
    position: absolute;

    right: 30px;
}
.background-img {
  position: absolute;
  right: 160px;
  cursor: pointer;
}

.header__logo > img {
  width: 65px;
  border-radius: 50%;
}

.header__links {
  display: flex;
  position: absolute;

  left: 50%;
  transform: translate(-50%, 0);

  gap: 60px;
}

.header__links > div {
  display: flex;
  align-items: center;
}

.header__links-link > a {
    color: black;
    font-size: 25px;
}

.header__links-lexoRead > a {
  font-size: 45px;
  font-weight: 600;
  text-decoration: underline;
}

.about_us {
	text-decoration: underline; 
}
