.header {
  display: flex;

  width: 100%;
  height: 99px;
  background-color: #191818;

  border-bottom: 1px #7a6868 solid;

  justify-content: space-between;
  padding: 0 50px;
  box-sizing: border-box;

  align-items: center;
}

.header__logo > img {
  width: 65px;
  border-radius: 50%;
}

.header__links {
  display: flex;

  justify-position: column;
  gap: 60px;
}

.header__links > div {
  display: flex;
  align-items: center;
}

.header__links-lexoRead * {
  font-size: 45px;
  font-weight: 600;
}
