.listBooks__books {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;

    margin-top: 20px;
}

.listBooks__books > img {
    width: 340px;
    height: 450px;
    border-radius: 12px;
}

.listBooks__title {
    display: flex;
    width: 100%;

    align-items: center;
    justify-content: center;

    font-weigth: 600;
    font-size: 35px;

    margin-top: 46px;
}

