.listBooks__books {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;

    margin-top: 20px;
    color: #6F4C3E;
}

.listBooks__books > img {
    width: 340px;
    height: 450px;
    box-shadow: 6px 3px 4px #ADA2A2;
}
.listBooks__books > img:hover {
    scale: 1.1;
    transition: 0.45s ease-in-out;
    box-shadow: none;
}

.listBooks__title {
    display: flex;
    width: 100%;

    align-items: center;
    justify-content: center;

    font-size: 75px;

    margin-top: 46px;
}

.listBooks__title > span {

    font-weight: 600;
}
